<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783926879409-loh6dobh9pt9tcvs6gncuhblloam9upt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783926879409-loh6dobh9pt9tcvs6gncuhblloam9upt</string>
	<key>API_KEY</key>
	<string>AIzaSyAZjs7aabPvQYKP9UW9TA1lPG0MEj1kg8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>783926879409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suneom.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ddf25</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ddf25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783926879409:ios:66017dca8c09e2ad60ee90</string>
</dict>
</plist>